<div class="ui vertical stripe segment segment_about">
    <div class="ui middle aligned stackable grid container">
        <div class="row row_name">
            <h1 id="name" class="about_name" style="text-align: center"></h1>
        </div>
        <div class="row row_about">
            <div class="seven wide column">
                <h3 class="ui header">
                    Qui suis je ?
                </h3>
                <p>
                    Je suis un jeune developpeur Full-Stack de 23 ans de la région de Montpellier.
                </p>
                <h3 class="ui header">
                    Quand tout à commencer ?
                </h3>
                <p>
                    Mon voyage dans l'univers du développement commence début 2018,<br>
                    grâce à BeWeb, Ecole Régionale du Numérique, ma première école.
                </p>
                <h3 class="ui header">
                    Aujourd'hui
                </h3>
                <p>
                    Je suis actuellement à la recherche d'une entreprise pour réaliser mon alternance à partir
                    de
                    2019.
                </p>
                <div class="center aligned column">
                    <a class="ui huge button">Check Them Out</a>
                </div>
            </div>
            <div class="two wide right floated column">
            </div>
            <div class="seven wide right floated column">
                <img class="ui large bordered rounded image"
                     src="https://scontent-mrs1-1.xx.fbcdn.net/v/t1.0-9/39105830_1808876875827774_4196249989552275456_n.jpg?_nc_cat=0&oh=a9b2639e163081c840f58bdb20b73e70&oe=5C34DA5B"
                style="height: 250px; width: 250px;">
            </div>
        </div>
    </div>
</div>
