<div class="ui middle aligned stackable grid container">
    <div class="row">
        <div class="eight wide column">
            <h3 class="ui header">
                We Help Companies and Companions
            </h3>
            <p>
                We can give your company superpowers to do things that they never thought possible. Let us delight your
                customers and empower your needs...through pure data analytics.
            </p>
            <h3 class="ui header">
                We Make Bananas That Can Dance
            </h3>
            <p>
                Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.
            </p>
        </div>
        <div class="six wide right floated column">
            <img class="ui large bordered rounded image"
                 src="https://scontent-mrs1-1.xx.fbcdn.net/v/t1.0-9/39105830_1808876875827774_4196249989552275456_n.jpg?_nc_cat=0&oh=a9b2639e163081c840f58bdb20b73e70&oe=5C34DA5B">
        </div>
    </div>
    <div class="row">
        <div class="center aligned column">
            <a class="ui huge button">Check Them Out</a>
        </div>
    </div>
</div>