<div class="ui vertical stripe segment segment_about">
    <div class="ui grid container">
        <div class="row row_name" style="background-color: lavender">
            <h1 id="name" class="about_name" style="text-align: center"></h1>
        </div>
        <div class="row row_about" style="background-color: #e2c8ff">
            <div class="eight wide middle aligned  column">
                <h3 class="ui header">
                    Qui suis je ?
                </h3>
                <p>
                    Je suis un jeune developpeur Full-Stack de 23 ans de la région de Montpellier.
                </p>
                <h3 class="ui header">
                    Quand tout à commencer ?
                </h3>
                <p>
                    Mon voyage dans l'univers du développement commence début 2018,<br>
                    grâce à BeWeb, Ecole Régionale du Numérique, ma première école.
                </p>
                <h3 class="ui header">
                    Aujourd'hui
                </h3>
                <p>
                    Je suis actuellement à la recherche d'une entreprise pour réaliser mon alternance à partir
                    de
                    2019.
                </p>
                <div class="center aligned column">
                    <a class="ui huge button">Check Them Out</a>
                </div>
            </div>
            <div class="eight wide right floated column about_col_image">
                <img class="ui large bordered rounded image about_image"
                     src="https://scontent-mrs1-1.xx.fbcdn.net/v/t1.0-9/39105830_1808876875827774_4196249989552275456_n.jpg?_nc_cat=0&oh=a9b2639e163081c840f58bdb20b73e70&oe=5C34DA5B"
                     style="height: 250px; width: 250px;">
            </div>
        </div>
        <div class="row row_skills" style="background-color: #ffffff">
            <div class="row row_tab"
                 style="height: auto !important;; position: relative; margin: 0!important; border-radius: 2%;">
                <div class="ui middle aligned stackable grid container">

                    <div class="five wide column column_back">
                        <i class="fa fa-5x fa-pencil-ruler skill_icon_back"></i>
                        <div class="back_head">
                            <h1 class="back_title">Back-End</h1>
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar back_progress bg-warning" role="progressbar" style="width: 80%;"
                                     aria-valuenow="15"
                                     aria-valuemin="0" aria-valuemax="100"><p style="color: #000; font-weight: bold;">80%</p>
                                </div>
                            </div>
                        </div>
                        <div class="full_body">
                            <h1>Technos :</h1>
                            <h2>
                                PHP <br>
                                Java <br>
                                Android <br>
                                NodeJs <br>
                                SQL <br>
                                Python
                            </h2>
                        </div>
                    </div>
                    <div class="six wide column column_full_stack">
                        <i class="fa fa-5x fa-pencil-ruler skill_icon_full"></i>
                        <div class="full_head">
                            <h1 class="full_title">Full-Stack</h1>
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar back_progress bg-success" role="progressbar" style="width: 100%;"
                                     aria-valuenow="15"
                                     aria-valuemin="0" aria-valuemax="100"><p style="color: #000; font-weight: bold;">100%</p>
                                </div>
                            </div>
                        </div>
                        <div class="full_body">
                            <h1>Outils de Développement :</h1>
                            <h2>
                                IntelliJ <br>
                                GitKraken <br>
                                GitHub <br>
                                GitLab <br>
                                PostMan <br>
                                Wamp <br>

                            </h2>
                        </div>
                    </div>
                    <div class="five wide column column_front">
                        <i class="fa fa-5x fa-pencil-ruler skill_icon_front"></i>
                        <div class="front_head">
                            <h1 class="front_title">Front-End</h1>
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar front_progress bg-error" role="progressbar" style="width: 20%"
                                     aria-valuenow="15"
                                     aria-valuemin="0" aria-valuemax="100"><p style="color: #000; font-weight: bold;">20%</p>
                                </div>
                            </div>
                        </div>
                        <div class="full_body">
                            <h1>Technos :</h1>
                            <h2>
                                HTML / CSS <br>
                                JavaScript <br>
                                JQuery <br>
                                Bootstrap <br>
                                SemanticUI
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
