<div class="ui grid content about_div">
    <div class="eight wide column column_general">

        <div class='console-container'><h1 class="about_text"><span id='text_about'></span></h1></div>
        <img class="ma_photo" src="https://i.gyazo.com/80867bd7eb6957025e566c62b3ad6a9e.jpg" alt=""
             style="border-radius: 5%; width: 300px; height: 300px;">
    </div>
    <div class="eight wide column column_infos">
        <div class="ui raised segment about_a_propos">
            <div class="ui top attached label"><h4 style="text-align: center">A propos</h4></div>
            <div class="ui vertical segment">
                <p style="text-align: center">Je suis un jeune developpeur francais de la région de Montpellier.
                    <br>J'ai 23 ans et j'ai découvert le milieu du développement en debut 2018, j'ai très vite
                    aimé l'aspect communautaire et open source.</p>
            </div>
            <div class="ui vertical segment">
                <p style="text-align: center">Le Back-End est le coté du developpement qui m'interesse le plus. <br>
                    Mon parcours scolaire m'a permis de developper une méthodologie de travail
                    et une appréhension du travail que je retrouve dans le Back-End.</p>
            </div>
        </div>
        <div class="ui raised segment about_parcours">
            <div class="ui top attached label"><h4 style="text-align: center">Mon Parcours</h4></div>
            <a class="ui red ribbon label">2018-2019</a>
            <span class="parcours_titre" style="text-align: center">Formation Developpement Logiciel</span>
            <p>Ecole Régionale du Numérique : <br>
                Formation intensive en développement logiciel.</p>
            <a class="ui blue ribbon label" style="text-align: center">2016-2017</a>
            <span class="parcours_titre">Boulanger</span>
            <p>Année à l'étranger (Polynésie Française)<br> ou j'ai était boulanger dans une boulangerie artisanale
                Française.</p>
            <a class="ui purple ribbon label" style="text-align: center">2014-2016</a>
            <span class="parcours_titre">DUT Génie Mécanique</span>
            <p></p>
            <a class="ui brown ribbon label" style="text-align: center">2013-2014</a>
            <span class="parcours_titre">DUT Génie Electrique Et Informatique</span>
            <p></p>
            <a class="ui grey ribbon label" style="text-align: center">2012-2013</a>
            <span class="parcours_titre">Bac S Spé Math</span>
            <p></p>
        </div>
    </div>
    <div class="sixteen wide column column_general_mobile" style="display: none; height: 400px;">
        <div class="ui grid content second_grid" style="left:0 !important;">
            <div class="eight wide column">
                <div class='console-container'><h1 class="about_text"><span id='text_mobile'></span></h1></div>
            </div>
            <div class="eight wide column">
                <img class="ma_photo_mobile" src="https://i.gyazo.com/80867bd7eb6957025e566c62b3ad6a9e.jpg" alt=""
                     style="display: none; border-radius: 5%; width: 300px; height: 300px;">
            </div>
        </div>
        <div class="sixteen wide column column_a_propos_mobile" style="display: none;">
            <div class="ui raised segment about_a_propos">
                <div class="ui top attached label"><h4 style="text-align: center">A propos</h4></div>
                <div class="ui vertical segment">
                    <p style="text-align: center">Je suis un jeune developpeur francais de la région de Montpellier.
                        <br>J'ai 23 ans et j'ai découvert le milieu du développement en debut 2018, j'ai très vite
                        aimé l'aspect communautaire et open source du milieu.</p>
                </div>
                <div class="ui vertical segment">
                    <p style="text-align: center">Le Back-End est le coté du developpement qui m'interesse le plus. <br>
                        Mon parcours scolaire m'a permis de developper une méthodologie de travail
                        et une appréhension du travail que je retrouve dans le Back-End.</p>
                </div>
            </div>
        </div>
        <div class="sixteen wide column column_parcours_mobile" style="display: none;">
            <div class="ui raised segment about_parcours">
                <div class="ui top attached label"><h4 style="text-align: center">Mon Parcours</h4></div>
                <a class="ui red ribbon label">2018-2019</a>
                <span class="parcours_titre" style="text-align: center">Formation Developpement Logiciel</span>
                <p>Ecole Régionale du Numérique : <br>
                    Formation intensive en développement logiciel.</p>
                <a class="ui blue ribbon label" style="text-align: center">2016-2017</a>
                <span class="parcours_titre">Boulanger</span>
                <p>Année à l'étranger (Polynésie Française)<br> ou j'ai était boulanger dans une boulangerie artisanale
                    Française.</p>
                <a class="ui purple ribbon label" style="text-align: center">2014-2016</a>
                <span class="parcours_titre">DUT Génie Mécanique</span>
                <p></p>
                <a class="ui brown ribbon label" style="text-align: center">2013-2014</a>
                <span class="parcours_titre">DUT Génie Electrique Et Informatique</span>
                <p></p>
                <a class="ui grey ribbon label" style="text-align: center">2012-2013</a>
                <span class="parcours_titre">Bac S Spé Math</span>
                <p></p>
            </div>
        </div>
    </div>