<canvas id="canvas" style="    background-color: darkslategrey;"></canvas>
<div class="home_resume">
    <div class='console-container fr'><h1 class="home_text">Bonjour. <br>Je suis un jeune
            <br><span id='text'></span>
            <br>Bienvenue sur mon Portfolio.</h1>
    </div>
    <div class='console-container en' style="display: none"><h1 class="home_text">Hello. <br>I'm a young
            <br><span id='text'></span>
            <br>Welcome on my Portfolio.</h1>
    </div>
    <div class="home_button" style="display:none;">
        <button class="ui inverted secondary right labeled icon button">En Savoir Plus
            <i class="down arrow icon"></i>
        </button>
    </div>
