<div class="ui divided items">
    <div class="row row_option">
        <div class="ui middle aligned stackable grid container grid_project">
            <div class="eight wide column column_projet_title">
                <h1 class="projet_option_title" style="width : auto !important; position: absolute;">Mes Projets</h1>
            </div>
            <div class="eight wide column column_projet_option">
                <div class="ui floating labeled icon dropdown button projet_option_dropdown">
                    <i class="filter icon"></i>
                    <span class="text">Filter</span>
                    <div class="menu">
                        <div class="header">
                            <i class="tags icon"></i>
                            Filter by tag
                        </div>
                        <div class="divider"></div>
                        <div class="item">
                            Important
                        </div>
                        <div class="item">
                            Announcement
                        </div>
                        <div class="item">
                            Discussion
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row_projet">
        <div class="ui middle aligned stackable grid container grid_project">
            <div class="two wide column carrousel_previous">
                <i class="angle left icon carrousel_icon_previous"></i>
            </div>
            <div class="twelve wide column column_projet">
                <div class="ui vertical stripe segment projet active_projet" id="projet0">
                    <div class="ui middle aligned stackable grid container">
                        <div class="row">
                            <div class="eight wide column">
                                <h3 class="ui header">Projet 0</h3>
                                <p>We can give your company superpowers to do things that they never thought possible.
                                    Let us delight your customers and empower your needs...through pure data
                                    analytics.</p>
                                <h3 class="ui header">We Make Bananas That Can Dance</h3>
                                <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be
                                    bioengineered.</p>
                            </div>
                            <div class="six wide right floated column">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0ZLetF3wGrYTiytmeX0I5Nkuhtd8ewPv4W10aGZbMEcDUU822"
                                     class="ui large bordered rounded image" style="height: 100px; width: 100px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="center aligned column">
                                <a class="ui huge button">Check Them Out</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui vertical stripe segment projet" id="projet1" style="display:none;">
                    <div class="ui middle aligned stackable grid container">
                        <div class="row">
                            <div class="eight wide column">
                                <h3 class="ui header">Projet 1</h3>
                                <p>We can give your company superpowers to do things that they never thought possible.
                                    Let us delight your customers and empower your needs...through pure data
                                    analytics.</p>
                                <h3 class="ui header">We Make Bananas That Can Dance</h3>
                                <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be
                                    bioengineered.</p>
                            </div>
                            <div class="six wide right floated column">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0ZLetF3wGrYTiytmeX0I5Nkuhtd8ewPv4W10aGZbMEcDUU822"
                                     class="ui large bordered rounded image" style="height: 100px; width: 100px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="center aligned column">
                                <a class="ui huge button">Check Them Out</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui vertical stripe segment projet" id="projet2" style="display:none;">
                    <div class="ui middle aligned stackable grid container">
                        <div class="row">
                            <div class="eight wide column">
                                <h3 class="ui header">Projet 2</h3>
                                <p>We can give your company superpowers to do things that they never thought possible.
                                    Let us delight your customers and empower your needs...through pure data
                                    analytics.</p>
                                <h3 class="ui header">We Make Bananas That Can Dance</h3>
                                <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be
                                    bioengineered.</p>
                            </div>
                            <div class="six wide right floated column">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0ZLetF3wGrYTiytmeX0I5Nkuhtd8ewPv4W10aGZbMEcDUU822"
                                     class="ui large bordered rounded image" style="height: 100px; width: 100px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="center aligned column">
                                <a class="ui huge button">Check Them Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="two wide column carrousel_next">
                <i class="angle right icon carrousel_icon_next" id="next_projet_1"></i>
            </div>
        </div>
    </div>
</div>