.about_section {
    position: absolute;
    top: 0;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.about_grid {
    position: absolute;
    top: 0 !important;
}

.about_name {
    width: 100% !important;
    text-align: center;
    font-size: 50px !important;
    position: relative;
    top: 50px !important;
}

.progress{
    position : absolute;
    width: 70%;
    left: 15%;
}

.row_about{
    padding: 0 !important;
}

.row_name{
    padding: 0 !important;
}

.row_skills{
    padding: 0 !important;
}

.skill_icon_back, .skill_icon_front,.skill_icon_full{
    position: relative;
}

.front_head, .full_head, .back_head{
    position: relative;
    top: 20px;
}

.front_title, .back_title, .full_title{
    text-align: center;
}