<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/semantic.css') }}">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="{{ asset('build/js/semantic.js') }}"></script>
    {% block style %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
{% block javascripts %}{% endblock %}
<script>
    function onHover(x) {
        $(x).children("i").css("display", "none");
        $(x).children("p").css("display", "inline-block");
        $(x).children("p").css({bottom: -($(x).height() - $(x).children("p").height()) / 2})
    }
</script>
<script>
    function offHover(x) {
        $(x).children("i").css("display", "inline-block");
        $(x).children("p").css("display", "none");
    }
</script>
</html>